:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: var(--yellow);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100%;
    font-family: 'Figtree', sans-serif;
}

section {
    display: block;
    unicode-bidi: isolate;
    height: auto;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 10px 10px 0 0 black;
    padding: 20px;
    width: 340px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.box {
    padding: 7px 15px;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--yellow);
    color: var(--gray950);
    font-weight: bold;
}

.date {
    color: var(--gray950);
    display: inline;
}

.card h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

.card h1:active {
    color: var(--yellow);
    cursor: pointer;
}

.desc {
    color: var(--gray500);
}

.profile {
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
}

.profile img{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}

.profile p {
    display: inline;
    clear: left;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
    color: var(--gray950);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 10px;
}

.attribution a { color: hsl(228, 45%, 44%); }